.city {
  text-align: center;
  background-color: #6f317eb5;
  border-bottom-left-radius: $border-radius-var;
  border-bottom-right-radius: $border-radius-var;
  margin-bottom: 30px;
  p {
    font-size: clamp(2rem, 4vw, 3rem);
    color: #fff;
    padding-block: 10px;
  }
}
